// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// My colours
$grey: #e7ecef;
$dark-blue: #274c77;
$medium-blue: #6096ba;
$light-blue: #a3cef1;
$dark-grey: #8b8c89;
$flower-blue: #3F425A;
$action-purple: #8E2C94;
$light-flower: #525675;
$action-hover: #9C42A5;
