  <%= render 'shared/banner' %>
  <div class="row align-items-start">
  <% @cocktails.each do |cocktail| %>
    <div class="col">
      <div id="cards">
        <div class="card">
          <% if cocktail.photo.present? %>
            <%= cl_image_tag cocktail.photo.key, crop: :fill %>
          <% end %>
          <div class="card-body">
            <button type="button" class="btn btn-ghost"><%= link_to cocktail.name, cocktail_path(cocktail) %></button>
          </div>
        </div>
      </div>
    </div>
 <%end %>
</div>

