  <%= render 'shared/banner' %>
  <% @cocktails.each do |cocktail| %>
    <div class="card" style="width: 18rem;">

      <% if cocktail.photo.present? %>
        <%= cl_image_tag cocktail.photo.key, crop: :fill %>
      <% end %>

      <div class="card-body">
        <button type="button" class="btn btn-outline-info btn-block"><%= link_to cocktail.name, cocktail_path(cocktail) %></button>
      </div>
    </div>
 <%end %>



