<div class="banner-small">
  <h1> <i class="fas fa-star"></i> Create a Cocktail <i class="fas fa-star"></i></h1>
</div>

<div class="new-show-container">
  <div class="d-flex justify-content-center form">
    <%= simple_form_for (@cocktail) do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
