<h1>Cocktail show</h1>
<h2> <%= @cocktail.name %> </h2>


<%= link_to 'New cocktail', new_cocktail_path %>
<br>
<%= link_to 'View all', cocktails_path %>
<br>
<%= link_to 'Add dose',  new_cocktail_dose_path(@cocktail) %>
