<div class="banner">
  <div class="container">
    <h1>Off-Rails Cocktails</h1>
  </div>
</div>

<!--
<div class="home-video-wrapper">
<video autoplay="autoplay" loop="loop" muted="muted" class="home_video" src="assets/videos/cocktail-banner.mp4" type="video/mp4"></video>
  <h1 class="home"> Off-Rails Cocktails</h1>
</div> -->
