
<h2>New Dose</h2>
<div class="d-flex justify-content-center form">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.button :submit %>
  <% end %>
</div>
