
.home_video {
 width: 100vw;
 height: 400px;
 // position: absolute;
 object-fit: cover;
 top: 0;
 z-index: -2;
 margin: 0px;
}
.home-video-wrapper {
  // height: 100vh;
  // display: flex;
}
h1.home {
  color: white;
}

.banner {
  background-size: cover;
  background-position: center;
  // padding: 160px 0 !important;
  // background-image: asset-url('Stars.jpg')
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-small {
  background-size: cover;
  background-position: center;
  padding: 70px 0 !important;
  background-image: asset-url('Stars.jpg');
  margin-bottom: 50px;
}
.banner-small h1, h2 {
  margin: 0;
  color: white !important;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

// .home_video {
//  width: 100vw;
//  height: 100vh;
//  position: absolute;
//  object-fit: cover;
//  top: 0;
//  z-index: -2;
// }
// .home-video-wrapper {
// height: 100vh;
// display: flex;
// }
// h1.home {
//   color: white;
// }
