.navbar-lewagon {
  justify-content: space-between;
  background: white;
  list-style: none;
  display: flex;
  height: 55px;}

.nav-link{
  color: $action-purple!important;
}

.nav-link:hover{
  background-color: $action-hover!important;
  border-radius: 5px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fa-glass-cheers:before {
    font-size: 25px;
    color: $action-purple;
}


