
.show-container{
  background-color: #F4F4F4;
  min-width: 500px;
  padding: 35px;
  margin: 0 350px;
  display: flex;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
  // flex-direction: row;
  // justify-content: center;
  // align-items: center;
}

.new-show-container{
  background-color: white;
  min-width: 500px;
  // padding: 20px;
  margin: 0 350px;
  // display: flex;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
  // flex-direction: row;
  // justify-content: center;
  // align-items: center;
}

.show-img img {
height: 375px;
width: 450px;
object-fit: cover;
}

.show-description{
  // display: flex;
  margin-bottom: 15px;
}

.home h1{

}
