// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/navbar";


body {
  background: #e7ecef;
}

h1, h2 {
  color: $dark-blue;
  padding: 16px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none!important;
  color: $dark-blue;
}

img{
  object-fit: cover;
}

.show-container{
  background-color: #274c77;
  padding: 50px 0px;
}

